.card {
  position: relative;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #777;
}

.container {
  width: 35px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 0 5px;
}

.right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

.suitCenter {
  width: 54px;
  height: 54px;
  color: red;
}

.suit {
  color: red;
  width: 34px;
  height: 34px;
}

.spades {
  color: black;
}

.clubs {
  color: black;
}

.red {
  color: red;
}

.card_contaier {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10%;
  left: 17%;
  width: 66%;
  height: 80%;
}

.card_contaier__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  margin: 0 2px;
}

.second_column {
  justify-content: space-evenly;
}

.ten {
  justify-content: space-around;
}

.card_center {
  justify-content: center;
}

.court {
  font-size: 108px;
}

.rotate {
  transform: rotate(180deg);
}

.ace {
  width: 132px;
  height: 132px;
}
